
/* --------------------- DoosanENC Released 0000.00.00 --------------------- */
/* --------------------- Published by 4m Creative --------------------- */

@media screen and (max-width:1600px) {
    .card_popup .popup_inner .pop_cont .inner_box .list img { width: 100%; object-fit: contain; }
    .card_popup .popup_inner .pop_close { top: -3rem; left: 50%; right: initial; transform: translate(-50%,-100%); }
}

@media screen and (max-width:1680px) {
    .civil_engineer .section .section_nav { left: 2rem; }
}

@media screen and (max-width:1440px) {
    #pc { overflow-x: auto !important; width: 144rem;}
    .container .sub_visual h1 { left: 5rem; }
    #sub .container .inner { padding: 0 5rem; }
    #sub .container .footer .inner { padding: 15.21vh 4rem 0; }
    .footer .inner { padding: 15.21vh 4rem 0; }
    .civil_engineer .business_lists > .inner { padding: 0!important; }
    .civil_engineer .business_lists ul { width: 144rem; }

}


/* -------------------- 모바일 -------------------- */
@media screen and (max-width:767px) {
    /* 공통부분 */
    br.br_pc, br.br_t {display: none;}
    br.br_m {display: block;}
    .img_pc {display: none;}
    .img_m {display: inline-block;}

    /* selectbox */
    #mobile .select_row { height: 4rem; border: .1rem solid #e8e8e8; }
    #mobile .select_row:after { right: 2rem; width: .85rem; height: .45rem; }
    #mobile .select_row label { width: 100%; height: 4rem; line-height: 4rem; padding: 0 2rem; font-size: 1.3rem; }
    #mobile .select_row select { width: 100%; height: 4rem; line-height: 4rem; padding: 0 2rem; }
    #mobile .select_row select option { font-size: 1.4rem; }

    /* input */
    #mobile .input_row { width: 100%; }
    #mobile .input_row input { padding: 0 2rem; height: 4rem; font-size: 1.3rem; border: .1rem solid #e8e8e8; }
    #mobile .input_search input { float: left; width: 33rem; height: 4.6rem; font-size: 1.3rem; }
    #mobile .input_search a { float: right; }


    /* textarea */
    #mobile .area_row { height: 15.7rem; }
    #mobile .area_row textarea { padding: 1.5rem 2rem; font-size: 1.4rem; line-height: 1.4; }

    /* check box type */
    #mobile .checkbox_row input[type="checkbox"] + label { font-size: 1.5rem; }
    #mobile .checkbox_row input[type="checkbox"] + label:before { margin-right: 1rem; width: 1.8rem; height: 1.8rem; }
    #mobile .checkbox_row input[type="checkbox"]:checked + label:before { background-size: 1rem .75rem; }

    /* file */
    #mobile .file_row label { width: 11.1rem; height: 3.5rem; line-height: 3.5rem; font-size: 1.3rem; font-weight: 150; border-radius: 1.7rem; }
    #mobile .file_row .upload_name { height: 3.5rem; font-size: 1.3rem; padding: 0 2rem; }
}


#mobile { width: 100%; }
#mobile .sub_visual { background-size: cover; }

/* header */
#mobile .header { padding: 0 2rem; width: 100vw; }
#mobile .header .header_wrap { width: 100%; height: 6rem; justify-content: space-between; }
#mobile .header .logo { width: 7.7rem; height: 2.1rem; margin-right: 0; background-size: contain !important; }
#mobile .header .gnb_menu { width: auto; margin-left: initial; display: block; }
#mobile .header .gnb,
#mobile .header .weve_btn,
#mobile .header .lang_select,
#mobile .header .right_nav { display: none; }
#mobile .header .top_sitemap button { width: 2.7rem; height: 1.75rem; }
#mobile .header .top_sitemap button span { width: 1.95rem; height: 2.5rem; margin-left: .75rem; margin-bottom: 0.5rem; }
#mobile .header .top_sitemap button span:nth-child(2) { width: 2.7rem; margin-left: 0; }

/* sitemap */

/* container*/
#mobile #sub .container .inner { width: calc(100% - 4rem); padding: 0; }
#mobile #sub .container .inner1200 { padding: 0 2rem; }

#mobile .contents .paging {margin-top: 3rem; margin-bottom: 0; display: flex; justify-content: space-between; align-items: center; }
#mobile .contents .paging .prev {margin-left: 3vw; width: .7rem; height: 1.2rem;}
#mobile .contents .paging .next {margin-right: 3vw; width: .7rem; height: 1.2rem;}
#mobile .contents .paging ul { margin: 0 6vw; display: inline-block; vertical-align: middle; display: flex; justify-content: center; width: 65%; }
#mobile .contents .paging ul:after { content: ""; display: block; clear: both; }
#mobile .contents .paging ul li { position: relative; float: left; margin: 0 2vw; }
#mobile .contents .paging ul li a { width: 2rem; height: 2rem; line-height: 1.5; font-size: 1.3rem; vertical-align: middle; }


/* sub_visual */
#mobile .container .sub_visual { height: 47.5rem; }
#mobile .container .sub_visual .sub_visual_menu.fixed { max-width: 76.8rem; left: 50%; transform: translateX(-50%); }
#mobile .container .sub_visual h1 { font-size: 4rem; transform: translateY(1.1rem); left: 0; }
#mobile .container .sub_visual .sub_visual_menu { width: 100%; height: 4.5rem; bottom: 9rem; }
#mobile .container .sub_visual .sub_visual_menu .menu_inner { width: 100%; }
#mobile .container .sub_visual .sub_visual_menu .home { width: 4.5rem; height: 4.5rem; background-size: 1.15rem 1.15rem; }
#mobile .container .sub_visual .sub_visual_menu .depth1 { width: calc(50% - 3.75rem); }
#mobile .container .sub_visual .sub_visual_menu .depth2 { width: calc(50% - .75rem); }
#mobile .container .sub_visual .sub_visual_menu .depth > a { height: 4.5rem; line-height: 4.5rem; padding-left: 2rem; font-size: 1.4rem; }
#mobile .container .sub_visual .sub_visual_menu .depth > a:before { top: 2.1rem; right: 2rem; border-left: .35rem solid transparent; border-right: .35rem solid transparent; }
#mobile .container .sub_visual .sub_visual_menu .depth1 > a:before { border-top: .35rem solid #777; }
#mobile .container .sub_visual .sub_visual_menu .depth2 > a:before { border-top: .35rem solid #fff; }
#mobile .container .sub_visual .sub_visual_menu .depth .drop_box { padding: 0 0 0 2rem; }
#mobile .container .sub_visual .sub_visual_menu .depth.open .drop_box { padding: 1rem 0 1rem 2rem; }
#mobile .container .sub_visual .sub_visual_menu .depth .drop_box li a { padding: .7rem 0; font-size: 1.3rem; }
#mobile .container .sub_visual .scroll_down { display: none; }

/* footer */
#mobile .footer { height: auto!important; }
#mobile .footer .inner { display: block; height: auto!important; padding: 0 2rem; }
#mobile .footer .inner > div { width: 100%; }
#mobile .footer .sec_tit { font-size: 3.5rem; padding-top: 6rem; }
#mobile .footer .sec_tit > span { color: #005eb8; }
#mobile .footer .sec_tit > span::after { content:''; display: block; width: 100%; height: .4rem; background-color: #005eb8; transform: skew(-40deg); transition: width ease-in-out .5s; }
#mobile .footer .family_site { margin-top: 5rem; margin-bottom: 7rem; }
#mobile .footer .family_site .site_selected { font-size: 1.4rem; width: 11rem; }
#mobile .footer .family_site .site_selected::after { border-top: .35rem solid #fff; border-left: .35rem solid transparent; border-right: .35rem solid transparent; } 
#mobile .footer .family_site .site_list { width: 11rem; top: 2rem; }
#mobile .footer .family_site.open .site_list { padding: 1rem; }
#mobile .footer .family_site .site_list li a { font-size: 1.4rem; }
#mobile .footer .right { display: none; }
#mobile .footer .footer_wrap { height: auto; padding: 5rem 0; }
#mobile .footer .footer_wrap ul { width: 100%; display: flex; justify-content: center;align-items: center; padding: 0 2rem; text-align: center; }
#mobile .footer .footer_wrap ul li { position: relative; display: inline-block; }
#mobile .footer .footer_wrap ul li:not(:last-child)::after { height: 1rem; margin: 0 1.7vw;}
#mobile .footer .footer_wrap ul li a { padding: 0; font-size: 1.3rem; }
#mobile .footer .footer_wrap p { margin-top: 2.2rem; font-size: 1.2rem; }

#mobile #topButton { font-size: 1.4rem; right: 2rem; bottom: 3.5rem; }
#mobile #topButton::after { width: 1.8rem; height: 2.3rem; }



/* ========================================= 메인 ========================================== */
#mobile #main #rightnavi { display: none; }
#mobile #main #fullpage section { height: auto!important; }
#mobile #main #fullpage section .sec_tit { font-size: 3.5rem; left: 0; }
#mobile #main #fullpage section .sec_tit::before { width: 4.8rem; height: .4rem; }

#mobile #main #fullpage .section01 { height: 100vh!important; }
#mobile #main #fullpage .section01 .swiper .sec01_controller { left: 0; right: 0; bottom: 4rem; margin: auto; width: calc(100% - 7.4rem); height: 4rem; }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-pagination-sec01 { width: calc(100% - 6rem); }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-pagination-sec01:after { width: calc(100% - 10rem); }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-pagination-sec01 .swiper-pagination-bullet { width: .9rem; height: .9rem; padding: 2rem; }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-pagination-sec01 .swiper-pagination-bullet:after { width: .9rem; height: .9rem; }
#mobile #main #fullpage .section01 .swiper .sec01_controller .bullet_hr { left: 3rem; width: 4rem; height: 4rem; }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-button { width: 1.6rem; height: 3rem; }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-button-next { content: url(../images/main/sec01_controller_arrowNext_m.png); }
#mobile #main #fullpage .section01 .swiper .sec01_controller .swiper-button-prev { content: url(../images/main/sec01_controller_arrowPrev_m.png); }
#mobile #main #fullpage .section01 .swiper-slide h2 { font-size: 3.8rem; }
#mobile #main #fullpage .section01 .clip-wrap { width: 100%; height: 100%; position: absolute; z-index: 9; background: #fff; }
#mobile #main #fullpage .section01 .clip-css { width: 33.4rem; height: 32.8rem; object-fit: none; transform: translateY(5%); }
#mobile #main #fullpage .section01.ani .clip-css { animation: intro_mobile 1s alternate; width: 100%; height: 100%; }
#mobile #main #fullpage .section01.active .clip-css { transform: translateY(0); }



#mobile #main #fullpage .section02 .swiper, #main #fullpage .section02 .swiper-wrapper, #main #fullpage .section02 .swiper-slide { height: fit-content; }
#mobile #main #fullpage .section02 .swiper-slide { display: block; }
#mobile #main #fullpage .section02 .big_img { width: 100%; max-width: 100%; height: 60vh; transform: rotate3d(0, 0, 0, 0); }
#mobile #main #fullpage .section02 .big_img img { width: 100%; }
#mobile #main #fullpage .section02 .swiper-slide h2 { position: initial; transform: translate(100%,0); margin-top: 2rem; margin-bottom: 2rem; margin-left: 2rem; /* opacity: 1; */ font-size: 4rem;transition: opacity;}
#mobile #main #fullpage .section02.active .swiper-slide.swiper-slide-active h2 {opacity: 1; transform: translate(0,0); transition: all ease-in-out .8s }
#mobile #main #fullpage .section02 .swiper-pagination-sec02 {  margin-left: 1rem; bottom: 0; padding-bottom: 9.35rem; overflow-x: auto; }
#mobile #main #fullpage .section02 .swiper-pagination-bullet { width: 18rem; margin-right: 3rem; flex-shrink: 0; position: relative; }
#mobile #main #fullpage .section02 .swiper-pagination-bullet::after { display: block; position: absolute; bottom: -3.5rem; left: 0; /* transform: translateY(calc(100% + 1.5rem)); */ font-size: 1.65rem; font-weight: 400; letter-spacing: -.0825rem; color: #005eb8; opacity: .2; }
#mobile #main #fullpage .section02 .swiper-pagination-bullet-active::after { opacity: 1; }
#mobile #main #fullpage .section02 .swiper-pagination-sec02 > span:nth-of-type(1)::after { content:'해운대 두산위브더제니스'; }
#mobile #main #fullpage .section02 .swiper-pagination-sec02 > span:nth-of-type(2)::after { content:'분당 두산타워'; }
#mobile #main #fullpage .section02 .swiper-pagination-sec02 > span:nth-of-type(3)::after { content:'신분당선전철'; }
#mobile #main #fullpage .section02 .swiper-pagination-bullet em { font-size: 1.4rem; padding-bottom: 1.5rem;  }


#mobile #main #fullpage .section03 { background: #f9f9f9; }
#mobile #main #fullpage .section03 .inner { transform: translateX(0); opacity: 1; margin: 0; padding: 6rem 0rem; }
#mobile #main #fullpage .section03 .sec_tit { position: initial; margin-left: 2rem; margin-bottom: 2rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left { opacity: 1; width: calc(100% - 2rem); margin: 0 auto; padding: 1rem 1rem 3.5rem; transform: translateY(0); min-height: auto; box-shadow: .25rem .2rem 1rem 0px rgba(54, 63, 72, 0.5); }
#mobile #main #fullpage .section03 .inner > .swiper .left .tit { font-size: 1.7rem; margin: 1.5rem 0 2rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left ul li+li { margin-top: 1rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left ul li b { font-size: 1.3rem; width: 8rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left ul li b::before { width: .45rem; height: .45rem; transform: rotate(18deg); border-radius: 0; }
#mobile #main #fullpage .section03 .inner > .swiper .left ul li span { font-size: 1.3rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left > a { font-size: 1.2rem; margin-top: 2.5rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left > a::after { width: .65rem; height: 1.05rem; background-size: .65rem 1.05rem; transform: translate(3rem,-50%); margin-top: 0rem; }
#mobile #main #fullpage .section03 .inner > .swiper .left > a:hover::after { transform: translate(3rem,-50%); }

#mobile #main #fullpage .section03 .inner > .swiper > .swiper-wrapper > .swiper-slide { padding-top: 0; }
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 { float: none; width: calc(100% - 2rem); margin: 0 auto; display: flex; justify-content: space-between; opacity: 1; transform: translateY(0); }
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > .swiper-pagination-bullet { margin-right: 0; }
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(1),
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(2),
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(3) { width: calc((100% - .6rem) / 3); }
#mobile #main #fullpage .section03 .inner_swiper .swiper-pagination { bottom: 1.6rem; left: 1.6rem; }
#mobile #main #fullpage .section03 .inner_swiper .swiper-pagination > span { width: .5rem; height: .5rem; margin-right: 2rem; }
#mobile #main #fullpage .section03 .inner_swiper .swiper-pagination > span::before { width: 2rem; height: 2rem; }
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span > em { padding-bottom: 1.1rem; }
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(1) > em::after,
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(2) > em::after,
#mobile #main #fullpage .section03 .inner > .swiper .swiper-pagination-sec03 > span:nth-of-type(3) > em::after { content:''; }

#mobile #main #fullpage .section04 .inner { padding: 6rem 2rem; }
#mobile #main #fullpage .section04 .con_tit { padding: 0 0 5rem 0; position: initial; left: 0; opacity: 1; }
#mobile #main #fullpage .section04 .card { height: auto; flex-wrap: wrap; }
#mobile #main #fullpage .section04 .card li { width: 50%; text-align: center; opacity: 1; }
#mobile #main #fullpage .section04 .card li:not(:last-child) { margin-bottom: 5rem; }
#mobile #main #fullpage .section04 .card li .icon { position: relative; transform: translateY(0); width: 100%; height: 7.4rem; }
#mobile #main #fullpage .section04 .card li .icon img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
#mobile #main #fullpage .section04 .card li:nth-child(1) .icon img { width: 6.75rem; }
#mobile #main #fullpage .section04 .card li:nth-child(2) .icon img { width: 5.7rem; }
#mobile #main #fullpage .section04 .card li:nth-child(3) .icon img { width: 7.15rem; }
#mobile #main #fullpage .section04 .card li:nth-child(4) .icon img { width: 6.45rem; }
#mobile #main #fullpage .section04 .card li:nth-child(5) .icon img { width: 6.3rem; }
#mobile #main #fullpage .section04 .card li p { position: initial; transform: translateY(0); text-align: center; font-size: 1.5rem; margin-top: 3rem; }
#mobile #main #fullpage .section04 .card li:hover p { color: #222; transform: translateY(0); }

#mobile #main #fullpage .section05 { background: linear-gradient(to bottom, #000 29.8rem, #fff 29.9rem, #fff 100%); }
#mobile #main #fullpage .section05 .inner { transform:translateY(0); padding: 6rem 1rem; }
#mobile #main #fullpage .section05 .con_tit { position: initial; }
#mobile #main #fullpage .section05 .link { position: initial; margin: 2.2rem 0 3rem; }
#mobile #main #fullpage .section05 .link li:last-child { margin-left: 4rem; }
#mobile #main #fullpage .section05 .interview_box { padding-top: 0; flex-direction: column; }
#mobile #main #fullpage .section05 .interview_box li { width: 100%; }
#mobile #main #fullpage .section05 .link li a { font-size: 1.5rem; }
#mobile #main #fullpage .section05 .link li a img { width: 1.25rem; margin-left: 1.4rem; }
#mobile #main #fullpage .section05 .interview_box li:not(:first-child) { margin-top: 4rem; }
#mobile #main #fullpage .section05 .interview_box li .interview_wrap { height: fit-content; }
#mobile #main #fullpage .section05 .interview_box li .interview_wrap .bdt,
#mobile #main #fullpage .section05 .interview_box li .interview_wrap .bdb { height: 0.3rem; }
#mobile #main #fullpage .section05 .interview_box li .interview_wrap .bdl,
#mobile #main #fullpage .section05 .interview_box li .interview_wrap .bdr { width: 0.3rem; }
#mobile #main #fullpage .section05 .interview_box li dl { margin-top: 2rem; }
#mobile #main #fullpage .section05 .interview_box li dl dt { font-size: 1.6rem; }
#mobile #main #fullpage .section05 .interview_box li dl dd { font-size: 1.3rem; padding-top: 1rem; }
#mobile #main #fullpage .section05 .interview_box li dl dd span:before { height: 1rem; margin: 0 1.5rem; }

#mobile #main #fullpage .section06 .inner { flex-direction: column; background: #f9f9f9; padding-bottom: 8rem; }
#mobile #main #fullpage .section06 .left { width: 100%; padding: 6rem 2rem 5rem; }
#mobile #main #fullpage .section06 .left .sub_tit { font-size: 2rem; line-height: 1.6; margin: 1rem 0 3rem; }
#mobile #main #fullpage .section06 .left .viewmore { font-size: 1.2rem; width: 10.2rem; }
#mobile #main #fullpage .section06 .left .viewmore::after { width: 100%; }
#mobile #main #fullpage .section06 .left .viewmore > span { opacity: 1; }
#mobile #main #fullpage .section06 .left ul { max-width: 26rem; width: 100%; margin-top: 4rem; }
#mobile #main #fullpage .section06 .left ul .icon img { width: 6rem; }
#mobile #main #fullpage .section06 .left ul li .pg_name { font-size: 1.3rem; }
#mobile #main #fullpage .section06 .right { width: calc(100% - 2rem); padding: 3rem 1rem 2rem; background: #fff; box-shadow: 1px 2px 18px 2px rgba(34, 34, 34, 0.1); }
#mobile #main #fullpage .section06 .right .tab { margin-left: 0; width: auto; margin-bottom: 3rem; justify-content: left; }
#mobile #main #fullpage .section06 .right .tab li { text-align: left; }
#mobile #main #fullpage .section06 .right .tab li:nth-child(1) { padding-right: 3rem; padding-left: 1rem; }
#mobile #main #fullpage .section06 .right .tab li a {font-size: 1.35rem;}
#mobile #main #fullpage .section06 .right .tab li a::before { width: .4rem; height: .4rem; position: initial; vertical-align: middle; margin-right: 1rem; }
#mobile #main #fullpage .section06 .right .contents .tag { font-size: 1.3rem; }
#mobile #main #fullpage .section06 .right .contents .tag > .date::before { margin: 0 1.3rem; }
#mobile #main #fullpage .section06 .right .contents > ul { height: fit-content; position: initial; display: none; }
#mobile #main #fullpage .section06 .right .contents > ul.on { display: block; }
#mobile #main #fullpage .section06 .right .contents > ul li .txt p { font-size: 1.6rem; line-height: 1.59; margin: 2rem 0 2.6rem; }
#mobile #main #fullpage .section06 .right .contents > ul li .txt a { font-size: 1.2rem; }
#mobile #main #fullpage .section06 .right .contents > ul li .txt a::after { width: .65rem; height: 1.05rem; background-size: .65rem 1.05rem; transform: translate(3rem,-50%); margin-top: 0rem; }
#mobile #main #fullpage .section06 .right .contents > ul li .txt a:hover::after { transform: translate(3rem,-50%); }

/* =========================================== 서브 ======================================== */
#mobile .title_area { padding: 6rem 2rem 0; text-align: center; }
#mobile .title_area .con_tit { font-size: 3.5rem; }
#mobile .title_area .sub_tit { font-size: 2.2rem; padding: 3rem 0 1rem; line-height: 1.36; }
#mobile .title_area .sub_tit > b {  font-size: 2.3rem; }
#mobile .title_area .sub_txt { font-size: 1.5rem; line-height: 1.66; }
#mobile .title_area .download_btn { width: 17.5rem; font-size: 1.3rem; margin-top: 4.5rem; margin-bottom: 6.5rem;  }
#mobile .title_area .download_btn > i { width: 1.45rem; height: 1.5rem; background: url(../images/common/icon_download.png) no-repeat; background-size: contain; margin-left: 2.1rem; }
#mobile .title_area .download_btn::after { margin-top: 1.5rem; }

#mobile .tab_box { /* padding: 0 0 4.5rem; */ position: relative; width: 100%; height: 4.5rem; }
#mobile .tab_box > .inner { overflow: auto; width: calc(100% - 6rem)!important; height: 100%; position: relative; }
#mobile .tab_box ul { width: 100%; position: absolute; left: 0; top: 0; transition: left .5s ease-out; }
#mobile .tab_box ul li { flex: initial; flex-shrink: 0!important; /* min-width: 12rem; */ width: calc(100% / 3); height: 4.5rem; margin-left: 0; }
#mobile .tab_box ul li:not(:last-child) { border-right: 0; }
#mobile .tab_box ul li a { font-size: 1.35rem; }
#mobile .tab_box ul li.on { box-shadow: 0px 0px 16px 4px rgba(34, 34, 34, 0.2); }
#mobile .tab_box ul li.on a { font-weight: 200; }
#mobile .tab_box .control { width: 3rem; height:4.5rem; font-size: 0; position: absolute; top: 0; display: block; }
#mobile .tab_box .prev { background: url(../images/common/arrow_l_13x21.png) no-repeat 50% 50%; background-size: .65rem 1.05rem; left: 0; }
#mobile .tab_box .next { background: url(../images/common/arrow_r_13x21.png) no-repeat 50% 50%; background-size: .65rem 1.05rem; right: 0; }


/* ================================  Channel  =============================== */
/* News */
#mobile .channel .sub_visual { background-image: url(../images/channel/channel_bg_m.png); }
#mobile .channel .news { padding-bottom: 10rem; }
#mobile .channel .news .news_list .search { width: 100%; max-width: 22.5rem; }
#mobile .channel .news .news_list .search .input_search input { width: calc(100% - 2.8rem); height: 3.6rem; font-size: 1.7rem; }
#mobile .channel .news .news_list .search .input_search a { width: 2.8rem; height: 3.6rem; background-size: 1.8rem; }
#mobile .channel .news .news_list .total {font-size: 1.3rem; width: 100%; max-width: 22.5rem; margin: 1.5rem auto 0; padding-left: .8rem; }
#mobile .channel .news .news_list ul li { width: 100%; height: 33.1rem; }
#mobile .channel .news .news_list ul li:nth-last-child(n+1):nth-last-child(-n+3) { margin-bottom: 5rem; }
#mobile .channel .news .news_list ul li:last-child { margin-bottom: 0!important; }
#mobile .channel .news .news_list ul li .img { height: 23.25rem; }
#mobile .channel .news .news_list ul li .txt_box { padding: 1.6rem 2rem 2rem; }
#mobile .channel .news .news_list ul li .txt_box .tit { font-size: 1.5rem; line-height: 1.4; }
#mobile .channel .news .news_list ul li .txt_box .date { font-size: 1.2rem; }
#mobile .channel .news .news_list ul li .bdt,
#mobile .channel .news .news_list ul li .bdb { height: .2rem; }
#mobile .channel .news .news_list ul li .bdl,
#mobile .channel .news .news_list ul li .bdr { width: .2rem; }
#mobile .channel .news .news_list .btn_box { margin-top: 4.5rem; }
#mobile .channel .news .news_list .btn_line { width: 100%; max-width: 22.2rem; height: 5rem; line-height: 5rem; }
#mobile .channel .news .news_list .btn_line a { border-radius: 2.5rem; font-size: 1.5rem; padding: 0 3rem 0 4rem; }
#mobile .channel .news .news_list .btn_line a span { width: 1.6rem; height: 1.6rem; }
#mobile .channel .news .news_list .btn_line a:hover span { background-size: contain; }
#mobile .channel .news .news_list .null { font-size: 1.3rem; padding: 12.5rem 0; }

/* 상세페이지 공통 */
#mobile .detail_pg { padding-top: 6.5rem; }
#mobile .tb_view { margin-top: 0; }
#mobile .tb_view .tb_row.row_head .tit { font-size: 2.5rem; }
#mobile .tb_view .tb_row.row_head .date { font-size: 1.3rem; padding: 2.5rem 0; }
#mobile .tb_view .view_box .view_info { min-height: 10rem; padding: 5rem 0 5rem; font-size: 1.4rem; line-height: 1.71; }
#mobile .tb_view .view_box .file_box { padding: 0 0 7rem 0; }
#mobile .tb_view .view_box .file_box .file_download a { padding: .5rem 0 .5rem 2rem; font-size: 1.4rem; background-size: 1.15rem 1.2rem; }
#mobile .tb_view .view_nav dl { height: 4.6rem; }
#mobile .tb_view .view_nav dl dt { width: 7.5rem; font-size: 1.3rem; }
#mobile .tb_view .view_nav dl dd { width: calc(100% - 7.5rem); }
#mobile .tb_view .view_nav dl dd a { font-size: 1.25rem; }
#mobile .tb_view .btn_box { margin-top: 6.5rem; }
#mobile .tb_view .btn_line { width: 100%; max-width: 21.1rem; height: 4.5rem; line-height: 4.5rem; }
#mobile .tb_view .btn_line a { border-radius: 2.25rem; font-size: 1.3rem; }



/* ================================  고객센터  =============================== */
/* 고객문의 */
#mobile .customer .sub_visual { background-image: url(../images/customer/customer_bg.png); }
#mobile .customer .customer_inquiry .section1 { padding: 4.5rem 0; margin-top: 6rem; }
#mobile .customer .customer_inquiry .section1 .sec_tit { font-size: 1.7rem; }
#mobile .customer .customer_inquiry .section1 .cont_box { margin: 2rem 0 1.5rem; }
#mobile .customer .customer_inquiry .section1 .cont_box > div { font-size: 1.3rem; line-height: 1.38; padding: 2rem; height: 12.4rem; }
#mobile .customer .customer_inquiry .section1 ul { font-size: 1.2rem; line-height: 1.41; margin-bottom: 3.2rem; }
#mobile .customer .customer_inquiry .section1 ul li { padding-left: 1rem; }

#mobile .customer .customer_inquiry .section2 { padding: 4.5rem 0 10rem; }
#mobile .customer .customer_inquiry .section2 p { font-size: 1.3rem; margin-bottom: 1.5rem; }
#mobile .customer .customer_inquiry .section2 .row { flex-direction: column; align-items: initial; }
#mobile .customer .customer_inquiry .section2 .row.row_short { max-width: 68.2rem; }
#mobile .customer .customer_inquiry .section2 .row+.row { margin-top: 2rem; }
#mobile .customer .customer_inquiry .section2 .row .tit_cell { font-size: 1.4rem; width: 100%; flex-shrink: 1; margin-bottom: 1rem; }
#mobile .customer .customer_inquiry .section2 .file_row .upload_name { width: calc(100% - 11.1rem); padding: 0; }
#mobile .customer .customer_inquiry .section2 .file_row+.info { font-size: 1.3rem; margin-top: 1.3rem; }
#mobile .customer .customer_inquiry .section2 .btn_box { margin-top: 6.4rem; }
#mobile .customer .customer_inquiry .section2 .btn_blk { width: 100%; max-width: 21.1rem; height: 4.5rem; line-height: 4.5rem; }
#mobile .customer .customer_inquiry .section2 .btn_blk a { border-radius: 2.25rem; }


/* 공지사항 */
#mobile .customer .notice { padding-bottom: 10rem; }
#mobile .customer .notice .tb_top .search { width: 100%; max-width: 22.5rem; float: none; margin: 0 auto; }
#mobile .customer .notice .tb_top .search .input_search { width: 100%; border-bottom: .2rem solid #000; }
#mobile .customer .notice .tb_top .input_search input { width: calc(100% - 2.8rem); height: 3.6rem; border: 0; }
#mobile .customer .notice .tb_top .input_search input::placeholder { opacity: 0; }
#mobile .customer .notice .tb_top .input_search a  {width: 2.8rem; height: 3.6rem; background: url(../images/common/icon_search_blk.png) no-repeat 50% 50%; background-size: 1.8rem 1.75rem;}
#mobile .customer .notice .tb_top .total { float: none; margin: 0 auto; width: 100%; max-width: 22.5rem; padding-top: 1.5rem; font-size: 1.3rem; font-weight: 150;}
#mobile .customer .notice .tb_top .total b {font-size: 1.3rem;font-weight: 350;color: #005eb8;}
#mobile .customer .notice .tb_top .total b.blue {font-size: 1.3rem;}

#mobile .customer .notice .tb_box { margin-top: 1.5rem; border-top: .1rem solid #000; }
#mobile .customer .notice .tb_box .tb_row { display: block; width: 100%;}
#mobile .customer .notice .tb_box .tb_row.row_head { display: none; }
#mobile .customer .notice .tb_box .tb_row.row_body { padding: 2rem 1.5rem; }
#mobile .customer .notice .tb_box .tb_row>div { height: auto; line-height: 1; text-align: left; }
#mobile .customer .notice .tb_box .tb_row.row_body .num { display: none; }
#mobile .customer .notice .tb_box .tb_row.row_body .tit a { font-size: 1.3rem; padding-left: 0; -webkit-line-clamp: 2; white-space: initial; -webkit-box-orient: vertical; display: -webkit-box; line-height: 1.3; }
#mobile .customer .notice .tb_box .tb_row.row_body .tit { display: block; width: 100%; }
#mobile .customer .notice .tb_box .tb_row.row_body .date { display: inline-block; width: 100%; font-size: 1.1rem; margin-top: .8rem; }
#mobile .customer .notice .tb_box .tb_row.row_body .date b { display: inline-block; font-size: 1rem; padding-right: .8rem; }
#mobile .customer .notice .tb_box .tb_row.null { font-size: 1.3rem; padding: 12.5rem 0; }
#mobile .customer .notice .tb_box .tb_row.none { display: none; }


/* ================================  기술개발  =============================== */
/* 기술역량 */

/* 지식재산권 */
#mobile .technology .tab_box { margin-top: 4.5rem; }
#mobile .technology .ipr { padding-top: 4.5rem; padding-bottom: 10rem; }
#mobile .technology .ipr .tb_box { border-top: .1rem solid #000; }
#mobile .technology .ipr .tb_box .tb_row { display: block; width: 100%; }
#mobile .technology .ipr .tb_box .tb_row.row_head { display: none; }
#mobile .technology .ipr .tb_box .tb_row.row_body { padding: 1.5rem; }
#mobile .technology .ipr .tb_box .tb_row>div { width: 100%; height: auto; line-height: 1.5; text-align: left; border-right: 0; font-size: 1.3rem; }
#mobile .technology .ipr .tb_box .tb_row.row_body .ord,
#mobile .technology .ipr .tb_box .tb_row.row_body .cert,
#mobile .technology .ipr .tb_box .tb_row.row_body .cell01 { display: none; }
#mobile .technology .ipr .tb_box .tb_row.row_body .mob { display: inline-block; }
#mobile .technology .ipr .tb_box .tb_row.row_body b.mob { padding-right: 1rem; }
#mobile .technology .ipr .tb_box .tb_row.row_body .tit { display: block; width: 100%; margin-top: 1rem; padding-left: 0; line-height: 1.53; }
#mobile .technology .ipr .tb_box .tb_row .class { width: 39%; max-width: 13.1rem; display: inline-block; }
#mobile .technology .ipr .tb_box .tb_row .num { width: 50%; display: inline-block; }
#mobile .technology .ipr .tb_box .tb_row .patent_num { display: inline-block; width: 65%; max-width: 20.7rem; }
#mobile .technology .ipr .tb_box .tb_row .date  { display: inline-block; width: 48%; }
#mobile .technology .ipr.ipr02 .tb_box .tb_row { position: relative; }
#mobile .technology .ipr.ipr02 .tb_box .tb_row .download { width: 29%; position: absolute; top: 1.5rem; left: calc(65% + 1rem); }
#mobile .technology .ipr .tb_box .tb_row .download a { width: 1.15rem; height: 1.2rem; }

#mobile .technology .ipr .tb_box .tb_row.row_body .cell02,
#mobile .technology .ipr .tb_box .tb_row.row_body .cell03,
#mobile .technology .ipr .tb_box .tb_row.row_body .cell04,
#mobile .technology .ipr .tb_box .tb_row.row_body .cell05 { display: inline-block; letter-spacing: -.0325rem; }
#mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell02,
#mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell04 { width: 60%; }
#mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell03,
#mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell05 { width: 39%; }
#mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell02,
#mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell04 { width: 57%; }
#mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell03,
#mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell05 { width: 42%; }
#mobile .technology .ipr .tb_box .tb_row.row_body .cell06,
#mobile .technology .ipr .tb_box .tb_row.row_body .cell07 { display: block; padding-left: 0; }

@media screen and (max-width:390px) {
    #mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell02,
    #mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell03,
    #mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell04,
    #mobile .technology .ipr.ipr03 .tb_box .tb_row.row_body .cell05,
    #mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell02,
    #mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell03,
    #mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell04,
    #mobile .technology .ipr.ipr04 .tb_box .tb_row.row_body .cell05 { width: fit-content; padding-right: 1rem; }
}
@media screen and (max-width:330px) {
    #mobile .technology .ipr .tb_box .tb_row .patent_num { width: 100%; }
    #mobile .technology .ipr.ipr02 .tb_box .tb_row .download { width: 100%; position: initial; padding-top: 1rem; }
} 
@media screen and (max-width:305px) {
    #mobile .technology .ipr .tb_box .tb_row .class,
    #mobile .technology .ipr .tb_box .tb_row .num { width: 100%; }
}
/* 기술연구소 */

/* ================================  사업영역  =============================== */
/* 사업소개(개요) */
#mobile .civil_engineer .sub_visual {  background-image: url(../images/business/business_bg_m.png); background-size: cover; }
#mobile .civil_engineer .tab_box { /* padding: 3rem 0; */ position: relative; height: 4.5rem; }
#mobile .civil_engineer.bus_outline .tab_box { padding: 4.5rem 0; height: 13.5rem; }
#mobile .civil_engineer .tab_box > .inner { position: absolute; top:0; left: 3rem; height: 4.5rem; }
#mobile .civil_engineer.bus_outline .tab_box > .inner { top: 4.5rem; }
#mobile .civil_engineer.bus_outline .tab_box .control { top: 4.5rem; }
#mobile .civil_engineer .section_nav { display: none; }
/* #mobile .civil_engineer .tab_box ul li { height: 4.5rem; flex: initial; flex-shrink: 0; }
#mobile .civil_engineer .tab_box ul li.on { box-shadow: 0px 0px 16px 4px rgb(34 34 34 / 20%); }
#mobile .civil_engineer .tab_box ul li a { font-size: 1.35rem; }

#mobile #sub .civil_engineer .tab_box .inner { width: calc(100% - 4rem);}
#mobile #sub .civil_engineer .tab_box .inner .swiper-wrapper { width: 100%; }
#mobile .civil_engineer .tab_box .tab-swiper-nav { width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; position: absolute; top:0; left: 0; }
#mobile .civil_engineer .tab_box .tab-swiper-nav > div { width: .65rem; height: 1.05rem; position: initial; margin-top: 0; }
#mobile .civil_engineer .tab_box .tab-swiper-nav > .swiper-button-disabled { opacity: 0; }
#mobile .civil_engineer .tab_box .tab-swiper-nav > .swiper-button-prev { background: url(../images/common/arrow_l_13x21.png) no-repeat 50% 50%; background-size: contain; padding-left: 2rem;}
#mobile .civil_engineer .tab_box .tab-swiper-nav > .swiper-button-next { background: url(../images/common/arrow_r_13x21.png) no-repeat 50% 50%; background-size: contain; padding-right: 2rem; }
#mobile .civil_engineer .tab_box .tab-swiper-nav > .swiper-button-prev::after,
#mobile .civil_engineer .tab_box .tab-swiper-nav > .swiper-button-next::after { display: none; } */

#mobile .civil_engineer .outline .section { padding: 5rem 0; }
#mobile .civil_engineer .outline .section01 { padding-top: 3rem; }
#mobile .civil_engineer .outline .section .inner { padding: 0; }
#mobile .civil_engineer .outline .section .swiper,
#mobile .civil_engineer .outline .section .swiper-slide { width: 100%; }
#mobile .civil_engineer .outline .section .swiper { box-shadow: 4px 6px 15px 0px rgba(79, 79, 79, 0.5); }
#mobile .civil_engineer .outline .section .tit { font-size: 2.4rem; padding: 3rem 0 1rem; }
#mobile .civil_engineer .outline .section p { flex-direction: column; }
#mobile .civil_engineer .outline .section p > span { font-size: 1.5rem; line-height: 1.73; }
#mobile .civil_engineer .outline .section p .btn { width: 21.1rem; height: 4.5rem; margin-top: 3.5rem; font-size: 1.3rem; padding: 0 3rem 0 2rem; }
#mobile .civil_engineer .outline .section p .btn > i { width: 1.5rem; margin-left: 3.7rem; }
#mobile .civil_engineer .outline .section .swiper .swiper-nav { width: 15.5rem; bottom: 1.5rem; right: 2rem; align-items: center!important; }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div { font-size: 1.05rem; }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div i { width: .65rem; height: 1.05rem; display: inline-block; }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div img { width: 100%; height: 100%; object-fit: contain; }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div:first-of-type i { margin: 0 1.5rem 0 0; /* background: url(../images/business/bus03_outline_arrow_l.png) no-repeat 50% 50%; background-size: contain; */ }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div:last-of-type i { margin: 0 0 0 1.5rem; /* background: url(../images/business/bus03_outline_arrow_r.png) no-repeat 50% 50%; background-size: contain; */ }
#mobile .civil_engineer .outline .section .swiper .swiper-nav > div:first-of-type::after { height: 1rem; margin-left: 1rem; }

/* 사업실적 리스트 */
#mobile .civil_engineer .top { display: flex; flex-direction: column-reverse; padding-top: 7.5rem; }
#mobile .civil_engineer .search { padding-top: 3.7rem; }
#mobile .civil_engineer .search .input_search { width: 100%; max-width: 22.5rem; }
#mobile .civil_engineer .search .input_search input { width: calc(100% - 2.8rem); height: 3.5rem; border: 0; }
#mobile .civil_engineer .search .input_search a { width: 2.8rem; height: 3.5rem; background-size: 1.8rem 1.75rem; }
#mobile .civil_engineer .total { font-size: 1.3rem; }
#mobile .civil_engineer .total > span { width: 100%; text-align: center; padding: 1.5rem 0 0 0; }

#mobile .civil_engineer .business_lists { padding-top: 1.5rem; }
#mobile .civil_engineer .business_lists ul { width: 100%; }
#mobile .civil_engineer .business_lists ul > li { width: 100%; max-width: 100%; margin-bottom: 5rem; }
#mobile .civil_engineer .business_lists ul > li:nth-child(3n-1) { margin: 0 0 5rem 0; }
#mobile .civil_engineer .business_lists .list_img .list_hover .name { font-size: 2rem; }
#mobile .civil_engineer .business_lists .list_img .list_hover .name::before { height: .45rem; margin: 0 auto 3.5rem; }
#mobile .civil_engineer .business_lists ul > li:hover .list_img .list_hover .name::before { width: 5rem; }
#mobile .civil_engineer .business_lists .list_img .list_hover .date { font-size: 1.6rem; }
#mobile .civil_engineer .business_lists .view_more { width: 13.25rem; height: 3.8rem; line-height: 3.8rem; border-radius: 1.875rem; font-size: 1.2rem; padding: 0 1.8rem; margin: 3.5rem auto 0; }
#mobile .civil_engineer .business_lists .view_more::after { width: 1rem; height: 1rem; background-size: contain; margin-left: 1.5rem; vertical-align: initial; }
#mobile .civil_engineer .business_lists .list_cont .name { font-size: 1.7rem; padding: 2rem 0 .8rem; }
#mobile .civil_engineer .business_lists .list_cont .date { font-size: 1.4rem; }
#mobile .civil_engineer .business_lists .list_more { max-width: 22.2rem; width: 100%; height: 5rem; line-height: 5rem; border-radius: 2.5rem; font-size: 1.5rem; padding-left: 4rem; margin: 0 auto 10rem; }
#mobile .civil_engineer .business_lists .list_more::after { width: 1.6rem; height: 1.6rem; background-size: contain; right: 3rem; }

/* 사업실적 리스트 팝업 */
#mobile .card_popup .popup_inner { width: calc(100% - 2rem); }
#mobile .card_popup .popup_inner .pop_close { width: 5.25rem; height: 5.2rem; top: -3rem; left: 50%; right: initial; transform: translate(-50%,-100%); }
#mobile .card_popup .popup_inner .pop_cont { max-width: 100%; width: 100%; flex-direction: column; height: 125vw; overflow-y: scroll; background: #fff; }
#mobile .card_popup .popup_inner .pop_cont .inner_box { width: 100%; height: fit-content; min-height: 125vw; padding: 1rem; background: #f5f5f5; }
#mobile .card_popup .popup_inner .pop_cont .inner_box .inner_slider .list img { width: 100%; object-fit: contain; }
#mobile .card_popup .popup_inner .pop_cont .txt_box { width: 100%; padding: 3rem 1rem 4rem 2rem; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_tit { font-size: 2.5rem; margin-bottom: 1rem; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_tit:before { width: 4.8rem; height: .4rem; margin-bottom: 1.8rem; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_des { font-size: 1.3rem; line-height: 1.69; height: 10.8rem; overflow-y: auto; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_mark { flex-wrap: wrap; padding: 3rem 0; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_mark li { width: 50%; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_mark li:nth-child(n+1):nth-child(-n+2) { margin-bottom: 2.5rem; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_tb th { font-size: 1.25rem; }
#mobile .card_popup .popup_inner .pop_cont .txt_box .card_tb td { font-size: 1.25rem;  line-height: 1.48; padding: 1rem 0 1rem 2rem; }
#mobile .card_popup .popup_inner .pop_cont .inner_nav { width: calc(100% - 6rem); margin: 3rem auto 0; padding-bottom: 4rem; }
#mobile .card_popup .popup_inner .pop_cont .inner_nav .arrow { font-size: 1.2rem; }
#mobile .card_popup .popup_inner .pop_cont .inner_nav .arrow:after { width: .8rem; height: .8rem; }
#mobile .card_popup .popup_inner .pop_cont .inner_nav .counter_slider { font-size: 1.4rem; }



/* ================================  회사소개  =============================== */

/* 공통 */
#mobile .investment .sub_visual { background-image: url(../images/company/company_bg_m.png); }
#mobile .investment .tab_box { padding: 4rem 0 3.7rem 0; }
#mobile .investment .tab_box > .inner { width: calc(100% - 4rem)!important; }

/* 재무정보 - Custom Chart */
#mobile .investment #HMchart { padding:0 2rem 9rem; }
#mobile .investment #HMchart > li { width: 100%; height: 33rem; padding: 2.5rem 0; }
#mobile .investment #HMchart > li h2 { font-size: 2rem; }
#mobile .investment #HMchart > li .graph { width: 100%; padding: 0 1.5rem; }
#mobile .investment #HMchart > li .graph > span { font-size: 1.2rem; }
#mobile .investment #HMchart > li .graph .graph_bg { padding-bottom: 7.15rem; }
#mobile .investment #HMchart > li .graph .graph_bg li { font-size: 1.3rem; }
#mobile .investment #HMchart > li .graph .graph_bg li span { padding-right: unset; }
#mobile .investment #HMchart > li .graph .graph_bg li:before { position: relative; width: 100%; right: 0; z-index: -1; margin-left: 1rem; }
#mobile .investment #HMchart > li .graph .graph_bar { padding: 0 1.5rem; height: calc(100% - 6.15rem); }
#mobile .investment #HMchart > li .graph .graph_bar li { width: 11vw; border-radius: 2vw 2vw 0 0; margin:0 8%; }
#mobile .investment #HMchart > li .graph .graph_bar li > span { font-size: 1.2rem; width: auto; line-height: 1; height: auto; border-radius: 1.75rem; padding: .5rem 1rem; top: -3.3rem; box-shadow: 0 .3rem .9rem 0 rgba(4, 0, 0, 0.1); }
#mobile .investment #HMchart > li .graph .graph_bar li > p { font-size: 1.3rem; bottom: -4.7rem; padding: .5rem; border-radius: .5rem; background: rgba(255, 255, 255, .7); }
#mobile .investment #HMchart > li .graph .graph_bar li > p span { font-size: 1.15rem; }
#mobile .investment #HMchart > li .graph .graph_bar li:nth-child(3) > span { background: #e73100; color: #fff !important; }
#mobile .investment #HMchart > li .graph .graph_bar .minus { transform: scale(-1) translateY(-100%); }
#mobile .investment #HMchart > li .graph .graph_bar .minus > p,
#mobile .investment #HMchart > li .graph .graph_bar .minus > span { transform: translate(50%, 0) scale(-1); }

/* 전자공고 */
#mobile .investment .announce { padding-bottom: 10rem; }

#mobile .investment .announce .tb_top .search { width: 100%; display: flex; align-items: center; justify-content: space-between; }
#mobile .investment .announce .tb_top .search .select_row { width: 9rem; height: 3.5rem; margin-right: 0 }
#mobile .investment .announce .tb_top .search .select_row select { height: 3.5rem; line-height: 3.5rem; padding: 0 .5rem; }
#mobile .investment .announce .tb_top .search .select_row { border: 0; border-bottom: 2px solid #222; }
#mobile .investment .announce .tb_top .search .select_row::after { right: .5rem; width: 0.7rem; height: 0.35rem; background-size: contain; }
#mobile .investment .announce .tb_top .search .select_row label { font-size: 1.5rem; height: 3.5rem; line-height: 3.5rem; padding: 0 .5rem; }
#mobile .investment .announce .tb_top .search .input_search { width: calc(100% - 11rem); height: 3.5rem; border-bottom: 2px solid #222; }
#mobile .investment .announce .tb_top .input_search input { width: calc(100% - 2.8rem); height: 3.5rem; font-size: 1.2rem; border: 0; }
#mobile .investment .announce .tb_top .input_search a { width: 2.8rem; height: 3.5rem; background-size: 1.8rem 1.75rem;}

#mobile .investment .announce .tb_top .total { padding: 1.5rem 0 0 0; text-align: left; font-size: 1.3rem; }

#mobile .investment .announce .tb_box { border-top: .1rem solid #000; margin-top: 1.5rem; }
#mobile .investment .announce .tb_box .tb_row { display: block; width: 100%; }
#mobile .investment .announce .tb_box .tb_row.row_head { display: none; }
#mobile .investment .announce .tb_box .tb_row.row_body { padding: 1.5rem; }
#mobile .investment .announce .tb_box .tb_row>div { width: 100%; height: auto; line-height: 1.5; text-align: left; border-right: 0; font-size: 1.3rem; }
/* #mobile .investment .announce .tb_box .tb_row.row_body .none, */
#mobile .investment .announce .tb_box .tb_row.row_body .ord,
#mobile .investment .announce .tb_box .tb_row.row_body .cert,
#mobile .investment .announce .tb_box .tb_row.row_body .cell01 { display: none; }
#mobile .investment .announce .tb_box .tb_row.row_body b.mob { display: inline-block; padding-right: 1rem; font-family: 'Pretendard'; font-size: 1rem; font-weight: 400; color: #222; }
#mobile .investment .announce .tb_box .tb_row.row_body .tit { width: 100%; display: block; padding-bottom: .5rem; }
#mobile .investment .announce .tb_box .tb_row.row_body .tit a { display: block; width: 100%; padding-left: 0; line-height: 1.53; font-size: 1.3rem; }
#mobile .investment .announce .tb_box .tb_row .date { display: inline-block; width: 37%; font-size: 1.1rem; }
#mobile .investment .announce .tb_box .tb_row .period { display: inline-block; width: 62%; font-size: 1.1rem; }
#mobile .investment .announce .tb_box .tb_row.none {display: none;}
#mobile .investment .announce .tb_box .tb_row.null { font-size: 1.3rem; padding: 12.5rem 0; }
@media screen and (max-width:316px) {
    #mobile .investment .announce .tb_box .tb_row .date,
    #mobile .investment .announce .tb_box .tb_row .period { width: 100%; }
}
#mobile .investment .announce .tb_box .tb_row { position: relative; }
#mobile .investment .announce .tb_box .tb_row .download { width: 29%; position: absolute; top: 1.5rem; left: calc(65% + 1rem); }
#mobile .investment .announce .tb_box .tb_row .download a { width: 1.15rem; height: 1.2rem; }
#mobile .investment .announce.detail_pg { padding-top: 0.8rem; }

/* ================================  애니메이션 토글  =============================== */
@keyframes intro_mobile {
    0% {
        -webkit-clip-path: polygon(0% 75%, 25% 0%, 100% 25%, 75% 100%); 
        clip-path: polygon(0% 75%, 25% 0%, 100% 25%, 75% 100%);
        width: 33.4rem; 
        height: 32.8rem;
        transform: translateY(5%);
    }
    40% {
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        width: 33.4rem; 
        height: 32.8rem;
        transform: translateY(3%);
    }
    60% {
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        width: 33.4rem; 
        height: 32.8rem;
        transform: translateY(3%);
    }
    100% {
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        width: 100%;
        height: 100%;
        transform: translateY(0);
    }
}
